<p-table [value]="lancamentos" [paginator]="true" [rows]="5" [responsive]="true" emptyMessage="Nenhum registro encontrado.">
    <ng-template pTemplate="header">
        <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Pagamento</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamentos >
        <tr>
            <td>{{lancamentos.pessoa}}</td>
            <td>{{lancamentos.descricao}}</td>
            <td class="col-data">{{lancamentos.dataVencimento | date:'dd/MM/y'}}</td>
            <td class="col-data">{{lancamentos.dataPagamento  | date:'dd/MM/y'}}</td>
            <td class="col-valor" [style.color]="lancamentos.tipo === 'DESPESA' ? 'red' : 'blue'">{{lancamentos.valor | currency:'BRL':true:'1.2-2'}}</td>
            <td class="col-acoes">
                  <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="left"></button>
                  <button pButton class="ui-button-danger" style="margin-left: 2px" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="right"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>