<div class="container">
  <form #formulario="ngForm" autocomplete="off">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>
      <!-- Botao de seleao -->
      <!-- muda recebimento pra receita de acordo com botao selecionado -->
      <div class="ui-g-12">
          <p-selectButton [options]="tipos" #tipoSelecionado></p-selectButton>
        </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" 
        ngModel #dataVencimento="ngModel" required ></p-calendar>
        <app-message [controle]="dataVencimento" erro="required" texto="Informe uma data de Vencimento"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipoSelecionado.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <!-- <label>Descrição {{ descricao.errors | json }}</label> ajuda a debugar-->
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" 
          ngModel #descricao="ngModel" required minlength="5">
        
        <app-message [controle]="descricao" erro="required" texto="Informe uma descricao"></app-message>
        <app-message [controle]="descricao" erro="minlength" texto="Descrição deve ter no minimo {{ descricao.errors?.minlength?.requiredLength }} caracteres!"></app-message>

        <!-- <div >
            <p-message severity="error" text="Informe uma descrição!" *ngIf="descricao.hasError('required') && descricao.dirty"></p-message>
        </div>
        <div >
            <p-message severity="error" text="Descrição deve ter no minimo {{ descricao.errors.minlength.requiredLength }} caracteres!" *ngIf="descricao.hasError('minlength') && descricao.dirty"></p-message>
        </div> -->
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00" name="valor" ngModel #valor="ngModel"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }" required>
          <app-message [controle]="valor" erro="required" texto="Informe um valor"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione a categoria"
          [autoWidth]="false" name="categoria" ngModel #categoria="ngModel" required></p-dropdown>
        <app-message [controle]="categoria" erro="required" texto="Informe uma categoria"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pesssoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione a pessoa"
          [autoWidth]="false" [filter]="true" name="pessoa" ngModel #pessoa="ngModel" required></p-dropdown>
        <app-message [controle]="pessoa" erro="required" texto="Informe uma pessoa"></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
          <label>Observação</label>
          <textarea pInputTextarea rows="3"></textarea>
        </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>